<label for="<?=$uniqueIdKey?>" class="<?=isset($setting['field_label'])?$setting['field_label']:''?> <?=isset($fieldSetting['label'])?$fieldSetting['label']:''?>">
    <input type="checkbox" name="<?=$name?>" placeholder="<?=isset($field['placeholder'])?$this->trans($field['placeholder']):''?>"
           id="<?=$uniqueIdKey?>"


    <?=(isset($values[$originalName]) && $values[$originalName] == true)?'checked':''?>
    <?php if(isset($field['attributes']) && is_array($field['attributes'])):?>
    <?php foreach($field['attributes'] as $key => $value): ?>
    <?=$key?>="<?=$value?>"
    <?php endforeach ?>
    <?php endif ?>
    >
    <span class="custom-control-label"><?=isset($field['label'])?$this->trans($field['label']):''?> <?=isset($field['required'])?'<span class="field-required">*</span>':''?></span>
</label>
